/*******************************
            Global
*******************************/

html,
body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
  /* padding-top: 24px;
  margin: 0 8vw; */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}

.button {
}

/*******************************
              Page
*******************************/

.hero,
.page,
.footer {
  /* padding: 0 8vw; */
}

/************ Hero ************/

.hero {
  width: 100%;
  height: 560px;
  background: rgb(224, 241, 233);
}

.hero__container {
  position: relative;
  padding-top: 40px;
}

.hero__title {
  width: 319px;
  height: 94px;
  margin-top: 60px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  /* or 131% */

  display: flex;
  align-items: center;

  color: #000000;
}
.hero__body {
  width: 406px;
  height: 162px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 32px;
  /* or 168% */

  display: flex;
  align-items: center;

  color: #555555;
}

.hero__button {
  width: 156px;
  height: 50px;
  /* margin-top: 40px; */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.08) 100%), #4daf7c;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: 1px solid #4daf7c;
  position: relative;
  cursor: pointer;
}

.button-text {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.hero__button:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.hero__button:hover:after {
  width: 120%;
  /* padding: 8px 16px; */
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.hero__img {
  position: absolute;
  top: 115px;
  right: 0;
  /* width: 32rem; */
  width: 578px;
  height: 364px;
}

/************ Page ************/

.page {
  margin-top: 109px;
}

.page__title {
  font-family: "Merriweather";
  font-size: 2rem;
  padding-bottom: 40px;
}

.page__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 335px;
  height: 386px;
  margin-bottom: 70px;
  /* box-shadow: 2px 2px 8px #bdbdbd; */
  box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  transition: transform ease-in-out 0.9s;
}

.card__hover {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(213.14deg, #2c2c2c 6.85%, #141414 93.15%), #2c2e30;
  /* background: linear-gradient(292deg, rgba(29, 29, 29, 1) 0%, rgba(57, 57, 57, 1) 100%); */
  transition: all ease-in-out 0.75s;
}

.card:hover > .card__hover {
  height: 100%;
  transition: all ease-in-out 0.75s;
}

.card:hover > .card__img {
  -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg); /* FF */
  -o-transform: rotate(180deg); /* Opera */
  -ms-transform: rotate(180deg); /* IE9 */
  transform: rotate(180deg);
  transition: transform ease-in-out 0.9s;
}

.card:hover > .card__details > .card__title {
  color: #6fc177;
  transition-delay: 0.2s;
}

.card:hover > .card__details > .card__pg {
  color: white;
  transition-delay: 0.3s;
}

.card__details {
  padding: 32px;
  /* display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px; */
  height: 50%;
}

.card__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;

  color: #000000;
  /* 
  font-family: "Lato";
  font-size: 1.15rem;
  font-weight: 600; */
}

.card__pg {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 24px;
  /* or 136% */

  /* display: flex;
  align-items: center; */

  color: #555555;
}

.card__title,
.card__pg {
  transition-delay: 0.4s;
}

/************ Bottom CTA ************/

.bottom__container {
  position: relative;
  height: 230px;
}

.bottom__text {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 60px;
}

.bottom__left,
.bottom__right {
  /* width: 224px; */
  width: 306px;
  height: 125px;
  /* text-align: center;
  font-family: "Lato";
  font-size: 1.25rem;
  color: #585858; */

  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;

  color: #7c7c7c;
}

.bottom__middle {
  width: 1px;
  height: 124px;
  border: 1px solid rgb(232, 232, 232);
}

.bold-text {
  font-weight: 600;
  color: rgb(50,147,100);
}

.bottom__img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/************ Footer ************/
.footer {
  height: 50px;
  padding-top: 12px;
  background: rgb(24, 24, 24);
  font-family: "Lato";
  font-size: 0.6rem;
  color: gray;
}

.footer__container {
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.footer__text {
  padding-left: 8px;
}

/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  .hero__body {
    width: 280px;
    font-size: 1rem;
  }
  .page__container {
    justify-content: space-evenly;
  }
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .hero__body {
    width: 280px;
    font-size: 1rem;
  }
  .hero__img {
    width: 26rem;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hero__title {
    text-align: center;
  }

  .hero__body {
    text-align: center;
  }
  .hero__img {
    position: absolute;
    top: 600px;
    right: auto;
  }

  .page {
    margin-top: 460px;
  }

  .page__container {
    justify-content: center;
  }

  .page__title {
    text-align: center;
  }

  .card {
    margin: 0 20px 70px 20px;
  }

  .bottom__left,
  .bottom__right {
    font-size: 1rem;
  }
}
